body{
    background-color: rgb(112, 112, 107);
}
h3{
    font-size: x-large;
    font-weight: 900;
    letter-spacing: 2px;
    color: brown;
    text-transform: uppercase;
    text-decoration:  rgb(167, 121, 121);
    line-height: 40px;
    font-family: cursive;
}
.badge{
    color:aqua;
    font-size: xx-large;
}
.btn123{
    color:black;
    background-color: grey;
}
.card{
    background-color: pink;
}