
body{
    background-image: url("image33.jpg");
    
}
button{
        background-color: rgb(0, 0, 0);
        margin-left: 55px;
        color: white;
    }
h1 {
    font-weight: 900;
    font-size:50px;
    text-decoration: overline white;
    padding-left: 100px;
}
input {
    background-color:white;
}
.si {
    width: 400px;
    border:2px wheat solid;
    background-color: blanchedalmond;
    border-radius: 10px;
    padding-left: 10px;
    margin: 20px;
}
h4 {
    padding-left:125px;
}

form{
    padding-left: 100px;
}